@import "tailwindcss";

@font-face {
  font-family: "roboto";
  src: url("RobotoMono-Regular.ttf");
}

@theme {
  --color-gray: #343d46;
  --color-green: #00ff00;
  --color-red: #ff0000;
  --font-roboto: roboto;
}

body {
  scrollbar-color: #343d46 black;
}
