**.classpath
**.factorypath
**.project
**.settings
**/bin
/Android/*.iml
**/.gradle
**/local.properties
**/.idea
/Android/.DS_Store
**/build
/Android/captures
/Android/.externalNativeBuild
/Android/.cxx
/Android/local.properties
/Android/app/release
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

