/Android/*.iml
/Android/.gradle
/Android/local.properties
/Android/.idea
/Android/.DS_Store
/Android/build
/Android/captures
/Android/.externalNativeBuild
/Android/.cxx
/Android/local.properties
/Android/app/release
